body{
    background-color: black;
}
.main{
    border-radius: 5%;
    border:1px white solid ;
    padding: 2px;
    margin: 2px;
}
#cabezara{
    background-color: burlywood;
    opacity: 0.5;
}
#menu li{
    border-bottom: cadetblue 2px solid;
    list-style: none;
    display: inline;
}
#principal{
    float: left;
    display: inline-block;
}
#aside{
    float: right;
    display: inline-block;
}
